/* --- Paleta de Colores y Variables --- */
:root {
    /* Paleta de La Plantería */
    --color-primario: #6c793c;    
    --color-secundario: #B9BF04;  
    --color-fondo: #D9D4BA;       
    --color-texto: #333333;       
    --color-blanco: #F2EDE4;      
    --color-bordes: #59412D;      
    /*--color-verdeoscuro: #6c793c;*/
}

/* --- Estilo General --- */
body {
    font-family: 'Gill Sans', Verdana;
    margin: 0;
    padding: 0;
    /*background-color: var(--color-fondo); */
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
    color: var(--color-texto); 
    
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --- Header --- */
header {
    font-family: 'Segoe Script';
    background-color: var(--color-primario);
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 1.5em;
    width: auto;
    margin-left: 0.1em;
    vertical-align: -0.2em;
}

.logo-container h1 {
    margin: 0;
    font-size: 2.5rem;
}

.logo-container {
    color: #fff; 
    text-decoration: none; 
    padding-left: 2em;
    align-items: center;
}

nav ul {
    list-style: none; 
    padding: 1em;
    padding-right: 2em;
    margin: 0;
    display: flex;
    gap: 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none; 
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 5px; 
    
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s ease;
}

nav ul li a:hover {
    /* Al hacer hover, el borde transparente se hace blanco */
    border-bottom-color: #fff; 
}

/* --- Contenido Principal --- */
main {
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; */
  
    min-height: 70vh;
    min-width: 90%; 
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    align-content: flex-start;
}

/* --- Footer --- */
footer {
    text-align: center;
    padding: 1rem 0;
    padding-bottom: 2rem;
    background-color: var(--color-primario);
    color: #fff;
    margin-top: 20px;
}

/* --- Estilos de Formulario --- */
.form-container {
    max-width: 100%; 
    /*width: 40vw;*/
    margin: 1rem auto; 
    padding: 2.5rem; 
    background-color: var(--color-blanco);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* Sombra sutil */
}

/* Títulos dentro del formulario */
.form-container h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
}

/* --- Formulario (Inputs y Botón) --- */
.form-group {
    margin-bottom: 1.5rem; /* Más espacio */
}

.form-group label {
    display: block; 
    margin-bottom: 0.5rem;
    font-weight: 600; /* Texto de label más fuerte */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="date"] {
    width: 100%; 
    padding: 12px; /* Inputs más altos */
    border: 1px solid var(--color-bordes); 
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 1rem; /* Asegura que el texto sea legible */
}

button[type="submit"] {
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    width: 100%; 
    text-transform: uppercase; /* MAYÚSCULAS */
    letter-spacing: 1px; 
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--color-primario); /* Tono más claro al hacer hover */
}

/* Cartel de inicio */
.hero {
    text-align: center; 
    padding: 4rem 0;   
    background-color: rgba(248, 244, 224, 0.834); /*var(--color-fondo) con transparencia  */
    margin-bottom: 2rem;
}
.home-banner{
    max-width: 900px; 
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-blanco);
    border-radius: 8px;
    background-color: rgba(248, 244, 224, 0.834); /*var(--color-blanco) con transparencia  */
    text-align: center;
}

.featured-products {
    padding: 1rem; 
    width: 95%;
    background-color: rgba(217, 212, 186, 0.7); /*var(--color-fondo) con transparencia  */
    border-radius: 25px;

}

.featured-products h2 {
    font-size: 2.2rem;
    color: var(--color-texto);
    margin-bottom: 2rem; 
    text-align: center;
}

.btn {
    background-color: var(--color-bordes);
    text-decoration: none;
    padding: 10px 15px;
    color: var(--color-blanco);
    border-radius: 3%;
}

/* productos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    justify-items: center; /* Centra las tarjetas si queda espacio */
}

.product-card {
    border: 1px solid var(--color-bordes);
    border-radius: 12px; /* Usando tu borde */
    background-color: var(--color-blanco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Usando tu sombra */
    font-family: Arial, sans-serif;
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 300px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 250px; 
    object-fit: contain; 
}

.product-card-content {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product-card-content h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-texto);
    margin: 10px 0;
}

.product-card-content p { 
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

.product-card-content .price {
    font-size: 1.15rem;
    font-weight: bold;
    color: var(--color-primario); 
    margin: 0 0 15px 0;
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: auto; 
    margin-bottom: 1rem;
}

.quantity-controls span {
    font-size: 1.25rem;
    font-weight: 600;
    min-width: 30px;
}

.quantity-btn {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-bordes);
    color: var(--color-texto);
    font-size: 1.5rem;
    font-weight: 600;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.quantity-btn:hover {
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    border-color: var(--color-secundario);
}

.product-card-content .btn {
    display: inline-block;
    width: 100%; 
    padding: 12px;
    background-color: var(--color-bordes);
    color: var(--color-blanco);
    border: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; 
    box-sizing: border-box;
}

.product-card-content .btn:hover {
    background-color: var(--color-primario);
}


/* --- Responsive --- */

@media (max-width: 768px) {

    header {
        flex-direction: column; 
        gap: 1rem; 
        padding: 1rem; 
    }

    .logo-container {
        padding-left: 0; 
    }

  
    nav ul {
        flex-direction: column; 
        align-items: center; 
        gap: 1rem;
    }

    nav ul li a:hover {
    }

    main {
        margin: 10px auto;
        padding: 10px; 
    }

    .form-container {
        padding: 1.5rem; 
    }

    .logo-container h1 {
        font-size: 2rem; 
    }

    .form-container h2 {
        font-size: 1.5rem; 
    }

}